.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-container img {
  width: 50px;
}

.header-container ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-container ul li {
  margin: 0 10px;
}

.header-container ul li a {
  text-decoration: none;
  color: black;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  color: white;
}

.card-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 15px;
}

.card-container .card img {
  width: 150px;
  height: 200px;
}

.card-container .card h2 {
  font-size: 12px;
  padding-top: 10px;
  text-transform: uppercase;
}

footer {
  background-color: #393838;
}

footer .container-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

footer .container-footer .footer-left .btn {
  padding: 10px;
  margin-bottom: 5px;
  background: none;
  color: white;
  border: none;
  outline: 2px solid #008dff;
}

footer .container-footer .footer-right {
  display: flex;
  align-items: center;
}

footer .container-footer .footer-right .text-follow {
  color: #008dff;
  margin-right: 5px;
}

footer .container-footer .footer-right ul {
  list-style-type: none;
  display: flex;
}

footer .container-footer .footer-right ul li {
  margin: 0 5px;
}

footer .container-footer .footer-right ul li img {
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  min-height: 558px;
  background-color: black;
}

